*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px;
    height: 120px;
    background-image: url(images/blue-back-blur.png);

}
.logo{
    width: 170px;
}
.menu{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    font-family: "gothic" !important;
}
.div1{
    background-image: url(images/blue-back-blur.png);
    background-size: cover;
    width: 100%;
    height: 573px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img1{
    position: relative;
    
    animation: aa 1s ease;
    /* animation-delay: 1s; */
}
.img2{
    position: absolute;
    top: 253px;

}
.i1{
    position: absolute;
    top: 44%;
    left: 68%;
}
.i2{
    position: absolute;
    top: 42%;
    left: 69%;
}
.i3{
    position: absolute;
    top: 38%;
    left: 70%;
}
.i4{
    position: absolute;
    top: 32%;
    left: 72%;
}
.img3:hover{
    transform: scale(1.1);
}
.div2{
    text-align: center;
    padding-block-start: 40px;
}
.div3{
    background-image: url(images/greyback.png);
    height: 600px;
    width: 100%;
   margin-top: 50px;
}
.wh{
    text-align: center;
    color: #3b1703;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 55px;
    line-height: 94px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
    padding-block-start: 40px;
}
.p1{
    color: #3b1703;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    text-align: center;
}
.b1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    background-color: #3b1703;
    padding: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
}
.b1:hover{
    background-color: #007aff;
    color: #3b1703;
}
.d1{
    display: flex;
    justify-content: space-evenly;
    /* gap: 90px; */
}
.d2{
    display: flex;
    justify-content: space-evenly;
}
.s1{
    text-align: center;
    font-size: 55px;
    font-family: 'Nanum Gothic';
    margin-top: 50px;
}
.hh1{
    color: #3b1703;
    font-size: 26px;
    line-height: 29px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
}
.pa1{
    color: #3b1703;
    font-size: 20px;
    line-height: 27px;
    font-style: normal;
    font-weight: 300;
}
.icec{
    display: flex;
    flex-direction: column;
    gap: 20px;
     align-items: center;
}
.ice{
    width: 400px;
}
.ice:hover{
    transform: scale(1.1);
}
.ice1{
    width: 400px;
    overflow: hidden;
}
.sec1{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin-top: 40px;
}
.nat{
    width: 100%;
    margin-top: 40px;
}
.map{
    margin-top: 40px;

}
.wri{
    color: #3b1703;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 22px;
    line-height: 32px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
}
.email{
    color: #ffffff;
    border-color: #3b1703;
    background-color: #3b1703;
    border-radius: 50px;
   padding-inline: 70px;
   padding-block: 20px;
}
.msg{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    align-items: center;
}
footer{
    height: 400px;
    width: 100%;
    background-color:#3b1703;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.a1{
    font-size: 40px;
    color: white;
}
.fo1{
    display: flex;
    gap: 25px;
}
.fo2{
    color: #ffffff;
}
/* ===========================animation============================= */
@keyframes aa {
    0%{
        transform:scale(6.9);
        /* width: 100%; */
        display: flex;
    }
    100%{
        transform: scale(1);
        display: none;
    }
}
